html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

main {
  padding: 0.5rem;
  flex-grow: 1;
}

a {
  color: blue;
}

header {
  padding-left: 0.5rem;
}

h1 {
  margin: 1rem 0;
  font-family: monospace;
}

footer {
  padding: 2rem 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

table.directory {
  text-align: left;
  table-layout: fixed;
  width: 100%;
  max-width: 700px;
}

table.directory thead {
  font-family: monospace;
}

table.directory thead .column-date {
  width: 25%;
}

table.directory thead .column-file {
  width: 45%;
}

table.directory thead .column-subject {
  width: 0%;
}

table.directory thead .column-tags {
  width: 30%;
}

table.directory thead th,
table.directory .fields td {
  padding: 0.5rem;
}

table.directory .fields td {
  vertical-align: text-top;
}

table.directory time {
  white-space: nowrap;
  color: slategray;
  font-size: 0.7rem;
}

table.directory .filepath {
  min-width: 100px;
  font-family: monospace;
  font-size: 0.85rem;
}

table.directory .tag {
  display: inline-block;
  margin-right: 0.25rem;
}

table.directory .desktop-cell {
  display: none;
}

table.directory .mobile-row {
  display: table-row;
}

table.directory .subject {
  max-width: 500px;
}

.mobile-subject {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  main {
    padding: 1rem;
  }

  table.directory .desktop-cell {
    display: table-cell;
  }

  table.directory .mobile-row {
    display: none;
  }

  table.directory thead .column-date {
    width: 15%;
  }

  table.directory thead .column-file {
    width: 20%;
  }

  table.directory thead .column-subject {
    width: 45%;
  }

  table.directory thead .column-tags {
    width: 20%;
  }
}
