@charset "UTF-8";

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.h-full {
  height: 100%;
  width: auto;
}

.snippet {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0rem 0.5rem;
  opacity: 0.8;
  border-radius: 5px;
}

.icon {
  width: 24px;
  height: 24px;
}

/* Slides */

.reveal.paused .pause-overlay {
  visibility: visible;
  opacity: 1;
}

.twitter-tweet-rendered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}

@media screen and (min-width: 900px) {
  .twitter-tweet-rendered {
    max-width: 400px !important;
  }
}

.overflow-auto {
  max-height: 100%;
  overflow-y: auto;
}

#chalkboard-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 400;
}

#chalkboard-controls ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
}

#chalkboard-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0.25rem;
  border-radius: 3px;
}
