<div id="chalkboard-controls" class="frontdrop" style="display:none;">
  <ul>
    <li>
      <button
        title="Toggle chalkboard (B)"
        onclick="window.RevealChalkboard.toggleChalkboard();"
        class="dim spacer-right"
      >
        {{ partial "icons/pencil-square.svg" }}
      </button>
      <button
        title="Toggle notes canvas (C)"
        onclick="window.RevealChalkboard.toggleNotesCanvas();"
        class="dim"
      >
        {{ partial "icons/pencil.svg" }}
      </button>
    </li>
  </ul>
</div>
