header#header.no-print(style="display:none;")
  div
    button#sync.flex.action.dim.spacer-left(style="display:none;", title="Sync")
      include ./icons/zap.svg

  #auth.hidden
    button#sign-in.flex.action.dim.spacer-left(title="Sign in")
      include ./icons/user.svg

    #firebase-ui.no-print.backdrop.dropdown.border.flex.column(style="display:none;", tabindex="0", aria-hidden="true")
      div
        button#firebase-ui-close.flex.action.dim.spacer-left(title="Close")
          include ./icons/x.svg

    .relative
      button#user-menu.dim.flex.action.spacer-left(style="display:none;", title="User menu")
        #username.spacer-right.nowrap(style="display:none;")
        #user-icon.flex

      #user-dropdown.dropdown(style="display:none;", aria-hidden="true")
        .border.backdrop
          button#open-notes.flex.action.dropdown-item(title="Open presentation notes")
            .spacer-right.nowrap Notes
            .icon-sm
              include ./icons/file-text.svg
          button#sign-out.flex.action.dropdown-item
            .spacer-right.nowrap Sign out
            .icon-sm
              include ./icons/log-out.svg
